{# templates/about_us/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}O nas{% endblock %}

{% block body %}
    <div class="container mt-5">
    <h1 class="mb-4">O nas</h1>
    <p>Witaj w Sklepie Komputerowym, Twoim jednym miejscu do zakupu wysokiej jakości komponentów komputerowych oraz akcesoriów. Specjalizujemy się w dostarczaniu szerokiego zakresu produktów, które spełnią potrzeby zarówno casualowych użytkowników, jak i entuzjastów.</p>
    <p>W Sklepie Komputerowym pasjonujemy się technologią i dążymy do oferowania najnowszych i najlepszych produktów na rynku. Bez względu na to, czy budujesz nowy zestaw do gier, aktualizujesz swoje biurowe stanowisko pracy, czy po prostu szukasz akcesoriów, które poprawią Twoje doświadczenia związane z komputerem, mamy wszystko, czego potrzebujesz.</p>
    <p>Nasz zespół ekspertów poświęca się zapewnianiu obsługi klienta na najwyższym poziomie oraz wsparcia technicznego. Jesteśmy tutaj, aby odpowiedzieć na Twoje pytania, udzielić porad i upewnić się, że znajdziesz idealne produkty dopasowane do Twoich potrzeb. Satysfakcja klienta jest naszym najwyższym priorytetem, a my zrobimy wszystko, abyś był całkowicie zadowolony z zakupu.</p>
    <p>Dziękujemy, że wybrałeś Sklep Komputerowy do wszystkich swoich potrzeb związanych z komputerami. Cieszymy się na obsługę Ciebie i pomoc w osiągnięciu Twoich celów technologicznych!</p>
</div>
{% endblock %}